# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg


# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Distribution
dist/
build/
*.spec

# Config
launcher_config.json